.div-select select {
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
  font-size: 16px;
  height: 25px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-top: 4px;
  text-align: center;
  width: 140px;
}

.input-pedido-addres {
  background-color: #f4f7f3;
  border: rgb(80, 78, 78) 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
  display: flex;
  font-size: 16px;
  height: 35px;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-left: 5px;
  padding: 10px;
  text-align: left;
  width: 360px;
}

.input-pedido-number {
  align-items: center;
  background-color: #f4f7f3;
  border: rgb(80, 78, 78) 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
  display: flex;
  font-size: 16px;
  height: 35px;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-left: 5px;
  padding: 10px;
  text-align: center;
  width: 70px;
}

.p-vendedora {
  margin-left: 5px;
}
