.cadastrar-new {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-top: -15px;
  text-align: center;
}

.cadastrar-new-user {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 20px;
  text-align: center;
}
